.auth-container{
      height: 100vh;
     overflow: hidden;
    .auth-left { 
          height: 100vh;
        min-height: 0 !important;
        overflow: hidden;
        padding: 34px;
        position: relative;
        width: 50%;
        .left--bg{
            max-width: 100%;
            height: 100vh;
            width: auto; 
            object-fit: contain;
            margin-inline: auto;
        } 
    
        .typing-gradient-title {
            color: #fff;
            font-size: 64px;
            position: absolute;
            left: 13%;
            top: 11%;
            width: 43%;  
            line-height: 1.25;
        }

        .typing-line {
            display: block;
            width: 0;
            max-width: max-content;
            overflow: hidden;
            white-space: nowrap;

            background: linear-gradient(
                180deg,
                #ffffff 0%,
                #dce7ff 45%,
                #9fbaff 100%
            );
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;

            animation-name: typingLine;
            animation-timing-function: steps(var(--chars), end);
            animation-duration: var(--duration);
            animation-delay: var(--delay);
            animation-fill-mode: forwards;
        }

        .typing-line--1 {
        --chars: 10;
        --duration: 0.9s;
        --delay: 0s;
        }

        .typing-line--2 {
        --chars: 10;
        --duration: 0.9s;
        --delay: 0.9s;
        }

        .typing-line--3 {
        --chars: 9;
        --duration: 0.8s;
        --delay: 1.8s;
        }

        @keyframes typingLine {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
        }

        
 
    }
    .auth-right {
        width: 50%; 
        height: 100vh;
        overflow-y: auto;
        .ar--inner{
            padding: 1rem 10rem;
            // padding-bottom: 2rem !important;
            // max-height: calc(100vh - 70px);
            // overflow: auto;
             
        }
         
        .login--wrapper{
            h2{ 
                font-size: 2rem; 
            }
            p{
                margin-bottom: 3rem; 
                color: #425583;
            } 

            .form-control { 
                border-color: #D3E0FE !important ;  
                font-family: "Inter", sans-serif;
                font-weight: 400;
                color: #231F20;
                background-color: #fff;
                border-radius: 50px;
                &:focus{
                    box-shadow: none;
                    border-color: #03514B !important; 
                }
                &.is-invalid{
                    border-color: #D91B1B !important;
                    box-shadow: none !important;
                    background-image: none !important;  
                    padding-right: 0.75rem !important; 
                } 
            }  
            .form-label, .error{
                font-family: "Plus Jakarta Sans", sans-serif; 
            }   
            .form-control::placeholder,
            .form-control:-ms-input-placeholder, 
            .form-control::-webkit-input-placeholder {
                color: #899CC9;
                font-family: "Plus Jakarta Sans", sans-serif;
            }  
        }
    }
}

/*
    Media Queries (Start here)
*/

 
@media (max-width: 767px) {
    .auth-container{
        height: unset;
    }
    .auth-container .auth-right .ar--inner,
    .auth-container .auth-left{
        padding:1.2rem ;
        min-height: unset !important;
    }  
    .auth-container .auth-left h1 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    .auth-container .auth-left p {
        font-size: 1rem;
        margin-bottom: 2rem;
    } 
    .auth-container .auth-right{
        width: 100%;
        height: unset;
    }  
    .auth-container .auth-right .login--wrapper h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .auth-container .auth-right .ar--inner{
        max-height: unset;
    }
    .auth-container .auth-right .ar--inner .icon--password .mat-icon{
        font-size: 17px;
    }
    .auth-container .auth-right .login--wrapper p{
        font-size: 11px !important;
        margin-bottom: 20px;
    }
    .auth-container .auth-left{
        height: 300px;
        width: 100%;
    }
    .auth-container .auth-left .left--bg{
        width: 70%;
        height: unset;
    }
    .auth-container .auth-left .typing-gradient-title{
        left: 27%;
        top: 18%;
        width: 50%;
        font-size: 16px;
    }
} 
@media only screen and (min-width: 980px) and (max-width: 1279px){
     
    .auth-container .auth-right .ar--inner {
        padding: 1rem 3rem;
    }
    .auth-container .auth-left h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .auth-container .auth-left p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .auth-container .auth-left .typing-gradient-title{
        left: 15%;
        top: 18%;
        width: 43%;
        font-size: 48px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){
     
    .auth-container .auth-right .ar--inner {
        padding: 1rem 6rem;
    }
    .auth-container .auth-left h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .auth-container .auth-left p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .auth-container .auth-left .typing-gradient-title{
        left: 18%;
        top: 15%;
        width: 50%;
        font-size: 48px;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1776px){
     
    .auth-container .auth-right .ar--inner {
        padding: 1rem 6rem;
    }
    .auth-container .auth-left .typing-gradient-title{
        left: 15%;
        top: 18%;
        width: 43%;
        font-size: 48px;
    }
}
@media screen and (orientation:landscape) and (max-width: 850px){
    .auth-container .auth-left { 
        padding: 1% 5% !important;
    }
    .auth-container .auth-left h1 {
        font-size: 1.6rem !important;
        margin-bottom: 2rem !important;
    }
    .auth-container .auth-left p{
        font-size: 1rem !important;
    }
    .auth-container .auth-right .ar--inner {
        padding: 1rem 1rem 3rem 1rem !important;
    } 
    .auth-container .auth-right {
        width: 45% !important;
    }  
    .auth-container .auth-right .ar--inner{
        max-height: unset;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .auth-container .auth-left { 
        padding: 1% 5%;
    }
    .auth-container .auth-left h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .auth-container .auth-left p{
        font-size: 1rem;
    }
    .auth-container .auth-right .ar--inner {
        padding: 1rem 1rem;
    }
    .auth-container .auth-right {
        width: 46%;
    } 
    .auth-container .auth-left .typing-gradient-title{
        left: 21%;
        top: 38%;
        width: 50%;
        font-size: 24px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
     .auth-container .auth-left { 
        padding: 1% 5%;
    }
    .auth-container .auth-left h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .auth-container .auth-left p{
        font-size: 1rem;
    }
    .auth-container .auth-right .ar--inner {
        padding: 1rem 3rem;
    }  
    .auth-container .auth-right .ar--inner{
        max-height: unset;
    }
    .auth-container .auth-left .typing-gradient-title{
        left: 21%;
        top: 28%;
        width: 50%;
        font-size: 30px;
    }
}

 