@use '../abstracts/variables' as v;

body{ 

    .btn {
        border-radius: 4rem;
        background-color: v.$primary;
        border-color: v.$primary;
        font-weight: 400;
        padding: .6rem 1.5rem;
        font-family: v.$font-plus-jakarta !important; 
        font-size: 1rem; 
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 3rem;
        .mat-icon{
            font-size: 16px;
            width: 16px;
            height: 16px;
        }  
        &.btn-light{
            background-color: #F8F9FA;
        }  
        &.btn-secondary{
            background-color: #5594F9;
            border-color: #5594F9;  
        }
        &.btn-md{
             min-height: 36px;
             font-size: 14px;
             padding: .2rem 1.4rem;
             &.sub--round--btn{
                width: 36px;
                height: 36px; 
            }
        }
    }

    .button--group{
        .connecter{
            width: 0.875rem;
            height: 1rem;
            background-color: v.$primary;
            margin: 0 -4px;
            &.connecter-secondary{
                background-color:#5594F9;
                border-color: #5594F9; 
            }
        }
        .sub--round--btn{
            width: 48px;
            height: 48px;
            padding: 0 !important;
        }
        &:hover{
            .btn-primary,
            .connecter{
                background-color:#274d9f;
                border-color: #274d9f; 
            }
            .btn-secondary,
            .connecter-secondary{
                background-color: #3a7eea;
                border-color: #3a7eea;  
            }
        }
        &.disabled{
            opacity: 0.6;
            pointer-events: none;
        }

        &.orange--btn--group{
            .connecter,
            .btn-primary{
                background-color: #CA9551; 
                border-color:#CA9551; 
            }
            &:hover{ 
                .connecter,
                .btn-primary{
                    background-color: #e5a654;
                    border-color: #e5a654; 
                }
            }
        } 
       
    }
}
 @media (max-width: 767px) {
    body{
        .btn {
            font-size: 0.7rem !important;
            padding: 0.4rem 0.6rem !important;
            min-height: 2rem;
        }
        .button--group{
            .sub--round--btn{
                width: 32px;
                height: 32px;
            }
        } 
    }
 }