@use '../abstracts/variables' as v;

body{ 

    .btn {
        border-radius: 4rem;
        background-color: v.$primary;
        border-color: v.$primary;
        font-weight: 400;
        padding: .6rem 1.5rem;
        font-family: v.$font-plus-jakarta !important; 
        font-size: 1rem; 
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 3rem;
        .mat-icon{
            font-size: 16px;
            width: 16px;
            height: 16px;
        }  
        &.btn-light{
            background-color: #F8F9FA;
            &.icon--button--36{
                width: 36px;
                height: 36px;
                min-height: unset;
                padding: 0;
            }
        }  
        &.btn-secondary{
            background-color: #183887;
            border-color: #183887; 
            color: #fff;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
        }
        &.btn-orange{
            background-color: #CA9551;
            border-color: #CA9551;  
            color: #fff;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }
        &.btn-lg{
             min-height: 40px;
             font-size: 14px;
             padding: .2rem 1.4rem;
             &.sub--round--btn{
                width: 40px;
                height: 40px; 
            }
        }
        &.btn-md{
             min-height: 36px;
             font-size: 14px;
             padding: .2rem 1.4rem;
             &.sub--round--btn{
                width: 36px;
                height: 36px; 
            }
        }
    }

    .button--group{
        .connecter{
            width: 0.875rem;
            height: 1rem;
            background-color: v.$primary;
            margin: 0 -4px;
            &.connecter-secondary{
                background-color:#5594F9;
                border-color: #5594F9; 
            }
        }
        .sub--round--btn{
            width: 48px;
            height: 48px;
            padding: 0 !important;
        }
        &:hover{
            .btn-primary,
            .connecter{
                background-color:#274d9f;
                border-color: #274d9f; 
            }
            .btn-secondary,
            .connecter-secondary{
                background-color: #3a7eea;
                border-color: #3a7eea;  
            }
        }
        &.disabled{
            opacity: 0.6;
            pointer-events: none;
        }

        &.orange--btn--group{
            .connecter,
            .btn-primary{
                background-color: #CA9551; 
                border-color:#CA9551; 
            }
            &:hover{ 
                .connecter,
                .btn-primary{
                    background-color: #e5a654;
                    border-color: #e5a654; 
                }
            }
        } 
       
    }

    // Angular Material Dropdown (Primary)
    .primary--dd{
        box-shadow: none;
        border: none;
        font-family: v.$font-plus-jakarta !important;
        .mat-mdc-text-field-wrapper {
            border-radius: 10px;
            background: #F4F5F8;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }
        .mdc-notched-outline__leading,
        .mdc-notched-outline__notch,
        .mdc-notched-outline__trailing {
            border-color: #dcdfe4 !important;
            border-width: 1px !important;
        } 
        .mat-mdc-form-field-subscript-wrapper{
            display: none;
        }
        .mat-mdc-select-placeholder,
        .mat-mdc-select-value,
        .mdc-text-field__input{
            font-family: v.$font-plus-jakarta !important; 
            font-size: 12px;
            color: #0F1729;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; 
        }
        .mat-mdc-form-field-infix{
            padding-top: 13px;
            padding-bottom: 13px;
            min-height: 48px;
        }
        .mat-mdc-option{
            font-family: v.$font-plus-jakarta !important; 
            font-size: 14px;
            color: #0F1729;
            min-height: 0px;
            padding: 12px;
            .mdc-list-item__primary-text{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .mat-pseudo-checkbox-minimal{
                display: none;
            }
        }
    }

    // Angular Material Dropdown (Secondary)
    .secondary--dd {     
        .mat-mdc-text-field-wrapper {
            height: 42px !important;
            min-height: 42px !important;
            padding: 0 12px !important;
            background-color: #2454b8 !important;
            border-radius: 8px !important;
        }

        .mat-mdc-form-field-flex {
            height: 42px !important;
            min-height: 42px !important;
            align-items: center !important;
        }

        .mat-mdc-form-field-infix {
            width: auto;
            min-height: 42px !important;
            height: 42px !important;
            padding: 0 !important;
            display: flex !important;
            align-items: center !important;
        }
        .mat-mdc-select {
            height: 42px !important;
            display: flex !important;
            align-items: center !important;
            font-size: 14px !important;
            color: #ffffff !important;
        }
        .mat-mdc-select-trigger {
            height: 42px !important;
            display: flex !important;
            align-items: center !important;
        }
        .mat-mdc-select-value,
        .mat-mdc-select-placeholder {
            color: #ffffff !important;
            font-size: 14px !important;
            opacity: 1 !important;
            font-family: "Plus Jakarta Sans", sans-serif;;
        }
        .mat-mdc-select-arrow-wrapper {
            display: flex !important;
            align-items: center !important;
            transform: none !important;
        }
        .mat-mdc-select-arrow {
            svg{
                display: none;
            }
            &::before{
                content: "";
                position: absolute;
                top: -3px;
                left: 0;
                width: 7px;
                height: 7px;
                border-right: 2px solid #ffffff;
                border-bottom: 2px solid #ffffff;
                transform: rotate(44deg);
            }
        }
        .mdc-notched-outline {
            height: 42px !important;
        }
        .mdc-notched-outline__leading {
            border-color: #ffffff !important;
            border-width: 1px !important;
            border-radius: 8px 0 0 8px !important;
        }
        .mdc-notched-outline__notch {
            border-color: #ffffff !important;
            border-width: 1px 0 1px 0 !important;
            padding: 0 !important;
            max-width: 0 !important;
        }
        .mdc-notched-outline__trailing {
            border-color: #ffffff !important;
            border-width: 1px !important;
            border-radius: 0 8px 8px 0 !important;
        }
        .mdc-notched-outline--notched {
        .mdc-notched-outline__notch {
            border-top: 1px solid #ffffff !important;
        }
        }
        .mat-mdc-form-field-subscript-wrapper {
            display: none !important;
        } 
        .mat-mdc-select-panel{
            padding: 0;
            .mat-mdc-option{
                min-height: 42px;
                font-size: 14px !important;
                .mdc-list-item__primary-text{
                    font-family: "Plus Jakarta Sans", sans-serif;
                }
                .mat-pseudo-checkbox-minimal{
                    display: none;
                }
            }
        }
    }

    .icon{
        display: inline-block;
        background-repeat: no-repeat;
    }

}
 @media (max-width: 767px) {
    body{
        .btn {
            font-size: 0.7rem !important;
            padding: 0.4rem 0.6rem !important;
            min-height: 2rem;
        }
        .button--group{
            .sub--round--btn{
                width: 32px;
                height: 32px;
            }
        } 
    }
 }