<div class="login--wrapper d-flex flex-column">
  <h2 class="fw-medium mb-1 text-secondary">Login </h2>
  <p>Access your account to continue</p>
  <form>
    <div class="row">
      <div class="col-12 mb-4">
        <label class="form-label">Email </label>
        <div class="position-relative input--prefix">
          <mat-icon fontSet="material-icons-outlined">mail</mat-icon>
          <input type="text" class="form-control" placeholder="Enter Email Id">
        </div>
      </div>
      <div class="col-12 mb-2">
        <label class="form-label">Enter Password </label>
        <div class="position-relative input--prefix">
          <mat-icon fontSet="material-icons-outlined">lock</mat-icon>
          <input [type]="showNewPassword ? 'text' : 'password'" class="form-control pe-5" formControlName="password"
            placeholder="Enter Password">

          <mat-icon fontSet="material-icons-outlined" (click)="toggleNewPassword()" class="icon--password">
            {{ showNewPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </div>
      </div>
      <div class="col-12 d-flex align-item-center justify-content-between mb-4">
        <mat-checkbox>Remeber me</mat-checkbox>
        <a class="text-primary font-plus-jakarta font-14 mt-2" routerLink="/auth/forgot-password">Forgot Password?</a>
      </div>

      <div class="col-12">
       <div class="d-flex align-items-center button--group">
         <button type="button" class="btn btn-primary w-100 ">Sign in</button>
         <div class="connecter flex-shrink-0"></div>
         <button type="button" class="btn btn-primary flex-shrink-0 ">
          <mat-icon>chevron_right</mat-icon>
         </button>
       </div>
      </div>

    </div>
  </form>

</div>
