 
/* TOP BAR */
.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0.9rem 2rem; 
    color: #fff;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    border-bottom: 1px solid #E5E7EB;   
    .logo{
        img{
            width: 250px;
        }
    }

    /* DESKTOP NAV */
    .nav-desktop {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .btn-group{
            .dropdown-toggle{
                &::after{
                    content: unset;
                }
            }
        }
         
        // .notifications{
        //     .mat-icon{
        //         color: #525252; 
        //     }
        //     .badge-indicator{
        //         width: 8px;
        //         height: 8px;
        //         background-color: #171717;
        //         border-radius: 20px;
        //         position: absolute;
        //         right: 11px;
        //         top: 10px;
        //     }
        // } 
        .user--profile--round{
            width: 2.1rem;
            height: 2.1rem;
            border-radius: 624.9375rem;
            border: 2px solid #DEE2E6; 
            cursor: pointer;
            overflow: hidden;
            img{
                max-height: 100%;
            }
        }
        // .user--name{
        //     max-width: 150px;
        //     overflow: hidden;
        //     text-overflow: ellipsis;
        // }
        &.menus-desktop{
           ul{
            list-style-type: none;
            li{
                a{
                    font-size: 14px;
                    font-weight: 500;  
                    text-transform: capitalize;
                    border-radius: 6px;
                    border: 1px solid #DCDFE4;
                    color: #6B7280;      
                    background-color: transparent;  
                    padding: 6px 15px;      
                }
                &.active{
                    a{ 
                        border-color: #183887;
                        background-color: #183887;
                        color: #fff;
                    }
                }
            }
           }
        }
    }

    /* MOBILE MENU BUTTON */
    .menu-btn {
        display: none;
        font-size: 20px;
        background: none;
        border: none;
        color: white;
        color: #214192 !important;
        border: 1px solid #214192 !important;
        border-radius: 6px; 
    }
} 

/* CONTENT */
.content {
    padding: 6rem 1rem 1rem 1rem;
    height: calc(100vh - 3px); 
}


/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: #eff2fc; 
  transition: left 0.3s ease;
  z-index: 1000;
    .logo--sm{
        padding: 10px 15px; 
    }
    nav {
        display: flex;
        flex-direction: column; 
        padding-top: 34px;
        a{
            padding: 7px 15px;
            font-size: 12px;
            border-bottom: 1px solid #e6e2e2;
            color: #000;
        }
    } 
}

.sidebar.open {
  left: 0;
}

/* BACKDROP */
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}



/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-desktop {
    display: none !important;
  }  
  .topbar{
    padding: 0.6rem 1rem!important;
        .menu-btn {
            display: block; 
        }
  }
  .content{
    padding: 4.75rem 1rem 1rem ;
  }
}

@media screen and (orientation:landscape) and (max-width: 850px){
    .topbar{
        padding: 0.6rem 1rem!important;
            .menu-btn {
                display: block; 
            }
            .nav-desktop{
                display: none;
            }

    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* iPad portrait styles */
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* iPad landscape styles */
}