<div class="auth-container d-flex flex-column flex-sm-row">
  <div class="auth-left d-flex flex-column justify-content-center"> 
    @if (isLoginPage) {
      <img src="images/auth-left-login.png" alt="login" class="img-fluid left--bg">
      <h1 class="typing-gradient-title">
        <span class="typing-line typing-line--1">Start Your</span>
        <span class="typing-line typing-line--2">Enrollment</span>
        <span class="typing-line typing-line--3">Journey!!</span>
      </h1>
    } @else {
      <img src="images/auth-left.png" alt="default" class="img-fluid left--bg">
    }

  </div>
  <div class="auth-right d-flex flex-column justify-content-center flex-shrink-0">
    <div class="ar--inner route--wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
