.sa--wrapper{
    height: calc(100vh - 105px);
     .sa--outer{
        max-width: 448px;
            .ico{
                width: 64px;
                height: 64px;
                background-color: #FEE3D4;
                border-radius: 9999px; 
            }
            .hr--line{
                border-top-color: #9d9ea1;
                margin: 33px 0 25px 0;
            }
     }
}

 @media screen and (orientation:landscape) and (max-width: 850px){
    .sa--wrapper{
        height: unset;
    }
 }