<div class="container-fluid todo--wrapper">
  <div class="row">
    <div class="col-12 header--banner">
      <div class="card p-3 p-sm-4 d-flex flex-column mb-4 mb-sm-5">
        <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between gap-3">
          <div class="d-flex flex-column gap-2">
            <div class="d-flex align-items-center gap-2">
              <img src="images/mission-control-top.svg" alt="img" class="img-fluid">
              <p class="font-14 fw-normal clr--ffffff99 font-plus-jakarta mb-0">Mission Control</p>
            </div>
            <h2 class="text-white fw-bold mb-0 font-32">You're on a <span class="clr--F9712A">14-day streak!</span></h2>
            <p class="font-16 fw-normal clr--ffffffb3 mb-0">3 more Gold saves this week to unlock the <span
                class="clr--F9712A">Legend Badge</span>. Keep the momentum!</p>
          </div>
          <div class="d-flex flex-row align-items-stretch section-sub-cards">
            <div class="backdrop-card  d-flex flex-column align-items-center text-center mb-0"> 
                <img src="images/day-streak-top.svg" alt="img" class="img-fluid">
                <p class="text-white font-24 fw-normal mb-0 font-mono-light">15</p>
                <p class="font-12 fw-normal clr--ffffff99 font-plus-jakarta mb-0">Day Streak</p> 
            </div>
            <div class="backdrop-card  d-flex flex-column align-items-center text-center mb-0"> 
                <img src="images/gold-saves-top.svg" alt="img" class="img-fluid">
                <p class="text-white font-24 fw-normal mb-0 font-mono-light">19</p>
                <p class="font-12 fw-normal clr--ffffff99 font-plus-jakarta mb-0">Gold Saves</p> 
            </div>
            <div class="backdrop-card  d-flex flex-column align-items-center text-center mb-0"> 
                <img src="images/silver-saves-top.svg" alt="img" class="img-fluid">
                <p class="text-white font-24 fw-normal mb-0 font-mono-light">12</p>
                <p class="font-12 fw-normal clr--ffffff99 font-plus-jakarta mb-0">Silver Saves</p> 
            </div>
            <div class="backdrop-card  d-flex flex-column align-items-center text-center mb-0"> 
                <img src="images/bronze-saves-top.svg" alt="img" class="img-fluid">
                <p class="text-white font-24 fw-normal mb-0 font-mono-light">10</p>
                <p class="font-12 fw-normal clr--ffffff99 font-plus-jakarta mb-0">Bronze Saves</p> 
            </div>
            <div class="backdrop-card  d-flex flex-column align-items-center text-center mb-0"> 
                <img src="images/rank-top.svg" alt="img" class="img-fluid">
                <p class="text-white font-24 fw-normal mb-0 font-mono-light">#3</p>
                <p class="font-12 fw-normal clr--ffffff99 font-plus-jakarta mb-0">Rank</p> 
            </div>
            <div class="backdrop-card  d-flex flex-column align-items-center text-center mb-0"> 
                <img src="images/conversion-top.svg" alt="img" class="img-fluid">
                <p class="text-white font-24 fw-normal mb-0 font-mono-light">24%</p>
                <p class="font-12 fw-normal clr--ffffff99 font-plus-jakarta mb-0">Conversion</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8">
      <header class="d-flex align-items-start justify-content-between w-100">
        <div class="d-flex align-items-start">
          <i class="icon icon--zap flex-shrink-0 me-2 mt-1"></i>
          <div class="d-flex flex-column">
            <h2 class="clr--14181F font-26 fw-bold mb-0">To-Do’s</h2>
            <p class="mb-0 clr--6B7280 fw-normal font-plus-jakarta">View pending, due for followup, or new referral</p>
          </div>
        </div>
        <div class="d-flex gap-2 flex-wrap align-items-center">
          <button type="button" class="btn btn-orange btn-lg rounded-3">
            <i class="icon icon--w-msg me-2"></i>
            Receive Activity Summary</button>
          <mat-form-field appearance="outline" class="cust--dd secondary--dd">
            <mat-select placeholder="All Status">
              <mat-option value="01">Pending</mat-option>
              <mat-option value="02">Approved</mat-option>
              <mat-option value="30">Rejected</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </header>
      <section class="todo-carousel w-100">
        <!-- [disabled]="activeIndex === 0" -->
        <!-- <button type="button" class="carousel-btn carousel-btn--prev" 
          (click)="prevSlide()" aria-label="Previous slide">
          <mat-icon>arrow_back_ios</mat-icon>
        </button> -->

        <div class="carousel-stage">
          @for (slide of slides; track slide.id; let i = $index) {
          <article class="todo-slide d-flex flex-column" [class.todo-slide--active]="i === activeIndex"
            [class.todo-slide--queue]="i === nextIndex"
            [class.todo-slide--hidden]="i !== activeIndex && i !== nextIndex" [ngClass]="'todo-slide--' + slide.type">

            <!-- <p class="todo-slide__eyebrow">{{ slide.type | titlecase }}</p> -->

            <header class="d-flex align-items-center justify-content-between w-100 mb-3">
              <div class="green--strip font-16 font-plus-jakarta">+23 hrs Remaining</div>
              <div class="gap-2 d-flex">
                <button type="button" class="btn btn-light btn-lg rounded-3 icon--button--36">
                  <img src="images/pin-img.png" alt="icon pin" class="">
                </button>
                <button type="button" class="btn btn-light btn-lg rounded-3 icon--button--36">
                  <img src="images/eye-orange.svg" alt="icon pin" class="">
                </button>
              </div>
            </header>
            <div class="d-flex align-items-start">
              <div
                class="user--ring d-flex align-items-center justify-content-center flex-shrink-0 rounded-5 font-inter fw-bold me-sm-3 me-2">
                {{slide.initials}}</div>
              <div class="d-flex align-items-start justify-content-between w-100">
                <div class="d-flex flex-column ">
                  <h3 class="font-24 clr--14181F mb-1 user--name">{{slide.userName}}</h3>
                  <p class="gap-2 mb-0 font-16 clr--676F7E font-plus-jakarta d-flex align-items-center flex-wrap">
                   {{slide.horizon}}
                    <span class="rounded-2 contact py-1 px-2 clr--1FAD91 font-plus-jakarta">{{slide.contactno}}</span>
                  </p>
                </div>
                <button type="button" class="btn btn-primary call-btn">
                  <i class="icon icon--call me-2"></i> Call
                </button>
              </div>
            </div>
            <div class="note--sec w-100 clr--6B7280 font-12 mt-3 font-plus-jakarta">
              {{slide.noteData}}
            </div>

            <div class="d-flex align-items-center justify-content-between w-100 next--action d-none">
              <mat-form-field appearance="outline" class="cust--dd">
                <mat-select placeholder="New">
                  <mat-option value="01">Pending</mat-option>
                  <mat-option value="02">Approved</mat-option>
                  <mat-option value="30">Rejected</mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <mat-form-field appearance="outline" class="date-time-select">
                    <mat-icon matPrefix class="field-prefix-icon">calendar_today</mat-icon>
                    <input
                    matInput
                    [owlDateTime]="dt1"
                    [owlDateTimeTrigger]="dt1"
                    placeholder="MM/DD/YYYY hh:mm A"
                    readonly
                    />
                    <mat-icon matSuffix>expand_more</mat-icon>
                    <owl-date-time #dt1></owl-date-time>
                </mat-form-field> -->
            </div>

            <footer class="d-flex align-items-center justify-content-between w-100 ">
              <div class="d-flex flex-column">
                <div class="d-flex align-items-center ">
                  <img src="images/zap-sm.png" alt="zap" class="me-2">
                  <div class="d-flex align-items-center clr--orange-1 font-plus-jakarta gap-2">
                    <div class="h--box font-16 font-plus-jakarta d-flex align-items-center justify-content-center">{{slide.hours}}
                    </div> <span>:</span>
                    <div class="h--box font-16 font-plus-jakarta d-flex align-items-center justify-content-center">{{slide.minite}}
                    </div> <span class="font-16"> {{slide.leftdata}}</span>
                  </div>
                </div>
                <p class="mb-0 clr--6B7280 font-12 font-plus-jakarta mt-1"> {{slide.pulsing}}</p>
              </div>
              <div class="medal--box d-flex align-items-center justify-content-center">
                <img src="images/{{slide.medalimage}}" alt="icon gold medal">
              </div>
            </footer>

          </article>
          }
        </div>

        <!-- [disabled]="activeIndex === slides.length - 1" -->
        <button type="button" class="carousel-btn carousel-btn--next" (click)="nextSlide()" aria-label="Next slide">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </section>
    </div>
    <div class="col-12 col-lg-4">
      <section class="priority-card w-100 p-4">
        <div class="priority-card__header">
          <h2 class="clr--fff font-26 fw-bold mb-1">All Priority To-Do's</h2>
          <p class="mb-0 clr--fff fw-normal font-plus-jakarta">View pending, due for followup, or new referral</p>
        </div>

        <div class="todo-list">
          @for (todo of todos; track todo.name) {
          <div class="todo-item d-flex align-items-center">
            <div class="todo-item__avatar font-16 d-flex align-items-center justify-content-center flex-shrink-0">
              {{ todo.initials }}
            </div>

            <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center w-100">
              <div class="todo-item__content">
                <h3 class="font-16 mb-1">{{ todo.name }}</h3>
                <p class="font-plus-jakarta font-12 mb-0">{{ todo.phone }}</p>
              </div>
              <div class="d-flex align-items-center gap-2">
                <div class="todo-item__due font-12 font-plus-jakarta ">
                  {{ todo.due }}
                </div>
                <button type="button" class="btn btn-light btn-lg rounded-3 icon--button--36">
                  <img src="images/pin-img.png" alt="icon pin" class="">
                </button>
                <button type="button" class="btn btn-light btn-lg rounded-3 icon--button--36 eye--btn">
                  <img src="images/eye-orange.svg" alt="icon pin" class="">
                </button>
              </div>
            </div>


          </div>
          }
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-between gap-2 mb-4 mt-3 mt-sm-5">
      <h2 class="font-24 clr--1a1a1a fw-bold mb-0 font-mono-light">Achievements</h2>
      <p class="font-18 clr--gray fw-normal mb-0 font-plus-jakarta">3 / 4 unlocked</p>
    </div>
  </div>
  <div class="row d-flex align-items-stretch achievements-section">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card d-flex flex-column align-items-center text-center gap-2">
        <div class="title-img">
          <img src="images/data-champion.png" alt="" class="img-fluid">
        </div>
        <h2 class="font-24 fw-bold clr--1a1a1a mb-0 font-mono-light">Data Champion</h2>
        <p class="font-16 fw-normal clr--gray mb-0 font-mono-light">Logged 50+ Outcomes</p>
        <div class="bottom-img">
          <img src="images/yellow-correct.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card d-flex flex-column align-items-center text-center gap-2">
        <div class="title-img">
          <img src="images/momentum-max.png" alt="" class="img-fluid">
        </div>
        <h2 class="font-24 fw-bold clr--1a1a1a mb-0 font-mono-light">Momentum Maximizer</h2>
        <p class="font-16 fw-normal clr--gray mb-0 font-mono-light">Made 5+ initial contacts within 8 hours</p>
        <div class="bottom-img">
          <img src="images/yellow-correct.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card d-flex flex-column align-items-center text-center gap-2">
        <div class="title-img">
          <img src="images/calender-crusher.png" alt="" class="img-fluid">
        </div>
        <h2 class="font-24 fw-bold clr--1a1a1a mb-0 font-mono-light">Calendar Crusher</h2>
        <p class="font-16 fw-normal clr--gray mb-0 font-mono-light">Scheduled 5+ referrals for their screening</p>
        <div class="bottom-img">
          <img src="images/yellow-correct.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card locked d-flex flex-column align-items-center text-center gap-2">
        <div class="title-img">
          <img src="images/enrollment-hero.png" alt="" class="img-fluid">
        </div>
        <h2 class="font-24 fw-bold clr--1a1a1a mb-0 font-mono-light">Enrollment Hero</h2>
        <p class="font-16 fw-normal clr--gray mb-0 font-mono-light">3+ referrals signed ICF</p>
        <div class="bottom-img">
          <img src="images/yellow-correct.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
