 .changepass--wrapper{
    .top--banner{
        border-radius: 24px;
        background: #183887;
        padding: 50px 58px 50px 40px;
        color: #fff;
        position: relative;
        overflow: hidden;
        &::after{
            content: '';
            background-image: url('../../../../../public/images/overlay.png');
            position: absolute;
            right: 0;
            top: 0;
            width: 88px;
            height: 88px;
        }
        h1{
            font-size: 48px;
        }
        p{
            color: rgba(255, 255, 255, 0.60);
        }
    } 
    .info--note{
        padding: 12px;
        border-radius: 4px;
        background: #CBE4D1;
        color: #404040;
    }
    .pass--req{
        border-radius: 4px;
        background: #F2F0E9;
        padding: 12px;
    }
 }

 @media (max-width: 767px) {
    .changepass--wrapper {
        .top--banner{
            padding: 16px 20px 16px 16px;
            h1{
                font-size: 22px;
            }
            p{
                margin-bottom: 15px !important;
            } 
        } 
    }

    
 }