@use '../abstracts/variables' as v;  



html, body {
  height: 100%;
  margin: 0;
}

a { 
  text-decoration: none !important;
  cursor: pointer;
  color: v.$primary !important;
} 

$font-family-base: 'mono-light', sans-serif;
$font-plus-jakarta:"Plus Jakarta Sans", sans-serif;
$font-inter:"Inter", sans-serif;

body{

  .font-mono-light{font-family: v.$font-family-base !important; }
  .font-plus-jakarta{font-family: v.$font-plus-jakarta !important; }
  .font-inter{font-family: v.$font-inter !important; }


  .text-primary { color: v.$primary !important; }
  .text-secondary{ color: v.$secondary !important;}
  .text-danger, .text-error { color: v.$error !important;}
  .wb-ba{word-break: break-all !important} 
 
  // Angular Material 
  .mat-internal-form-field>label{
    font-family: v.$font-plus-jakarta !important; 
    margin-top: 0.625rem;
   font-size: 0.875rem;
    color: v.$secondary;
  }
  .mdc-checkbox__background{
    border: 1px solid #909090 !important;
  }
  .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, 
  .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background{
      border-color:v.$info !important;
      background-color: v.$info!important;
  }

 

  // Form Controls
  .form-control {
    border-radius: 6.25rem;
    padding: 0.78rem 1rem;
    border-color: v.$bg-light !important ;
    font-size: 0.875rem;
    font-family: v.$font-inter;
    font-weight: 400;
    color: #231F20;
    &:focus{
      box-shadow: none;
      border-color: #03514B !important; 
    }
    &.is-invalid{
      border-color: v.$error !important;
      box-shadow: none !important;
      background-image: none !important;  
      padding-right: 0.75rem !important; 
    } 
  }
  .input--prefix{
    .mat-icon {
      position: absolute;
      top: 15px;
      left: 16px;
      font-size: 18px;
      height: 18px;
      width: 18px;
      color: #899cc9; 
      &.icon--password{
        left: unset;
        right: 16px;
        cursor: pointer;
      }
    } 
    &:focus-within{
      .mat-icon {
        color: #03514B; 
      }
    }
    .form-control{
      padding-left: 45px;
    }
  }
  .error {
    color: v.$error !important;
    font-family: v.$font-plus-jakarta;
    font-size: 0.75rem;
    margin-top: 5px;
    .mat-icon{
      font-size: 14px;
      width: 14px;
      height: 14px;
    }
  }
  .form-label{
    font-family: v.$font-plus-jakarta;
    font-size: 0.75rem;
  } 
  .form-control::placeholder {
    color: #899CC9; 
    font-family: v.$font-plus-jakarta;
  } 
  .form-control::-webkit-input-placeholder {
    color: #899CC9;
    font-family: v.$font-plus-jakarta;
  } 
  .form-control:-ms-input-placeholder {
    color: #899CC9;
    font-family: v.$font-plus-jakarta;
  }


  .dropdown-menu{ 
      li{
          border-bottom: 1px solid #E7E9EB;
          &:first-child{
            .dropdown-item{
              border-top-left-radius: .375rem;
              border-top-right-radius: .375rem;
            }
          }
          &:last-child{
              border: none;
              .dropdown-item{
                border-bottom-left-radius: .375rem;
                border-bottom-right-radius: .375rem;
              } 
          }
          .dropdown-item{
              font-size:  0.9375rem;
              padding: 11px 20px;
              font-weight: 500; 
              .mat-icon{
                  font-size: 1.3rem;
                  height: 1.3rem;
                  width: 1.3rem;
                  margin-right: 0.81rem;
                  color: #0032A0;
              }
          }
      } 
  }

  // Loader
  .loader-dialog{
    .mat-mdc-dialog-surface{
      box-shadow: none;
      background-color: transparent;
    }
  }

  .mat-mdc-checkbox{
    .mat-internal-form-field{
      align-items: flex-start;
    }
  }

  .card{
    border-radius: 0.75rem;
    border: 1px solid v.$bg-light;
    padding: 1.5625rem 1.5rem;
    margin-bottom: 1.5rem;
  }
 

  // Modal
  .modal--wrapper{
    .mat-mdc-dialog-surface{
      border-radius: 20px; 
      .mat-mdc-dialog-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        color: #222;
        font-family: v.$font-family-base !important; 
        padding: 18px 55px 18px 24px;
        &::before{
          content: unset;
        }
        .close--btn{
          position: absolute;
          right: 7px;
          top: 7px;
        }
      }
      .mat-mdc-dialog-content{
        font-family: v.$font-family-base !important; 
        color: v.$secondary !important;
      }
      .mat-mdc-dialog-actions{
        padding:10px 24px ;
      }
    }
  }
  
}  

 @media (max-width: 767px) {
  body .mat-internal-form-field > label,
  ::placeholder,
  .form-control,
  .form-label{
    font-size: 0.875rem !important;
  } 
  body .card{
    padding: 1rem;
    margin-bottom: 1rem;
  }
  body .modal--wrapper .mat-mdc-dialog-surface .mat-mdc-dialog-title{
      font-size: 17px; 
      padding: 14px 45px 14px 15px;
  }
  
 }