@use '../abstracts/variables' as v;

body {
  font-family: v.$font-family-base !important; 
  color: v.$secondary !important;
}

.clr--orange{color: #CA9551 !important;}
.clr--orange-1{color: #F9712A !important;}
.clr--525252{color: #525252 !important;}
.clr--171717{color: #171717 !important;}
.clr--737373{color: #737373 !important;}
.clr--F9712A{color: #F9712A !important;}
.clr--ffffff99{color: #ffffff99 !important;}
.clr--ffffffb3{color: #ffffffb3 !important;}
.clr--14181F{color: #14181F !important;}
.clr--676F7E{color: #676F7E !important;}
.clr--676F7Eb3{color: #676F7Eb3 !important;}
.clr--E24A3B{color: #E24A3B !important;}
.clr--C79857{color: #C79857 !important;}
.clr--5594F9{color: #5594F9 !important;}
.clr--1FAD91{color: #1FAD91 !important;}
.clr--0F1729{color: #0F1729 !important;}
.clr--070707{color: #070707 !important;}
.clr--475569{color: #475569 !important;}
.clr--1a1a1a{color: #1a1a1a !important;}
.clr--gray{color: #1a1a1a66 !important;}
.clr--6B7280{color: #6B7280 !important;} 
.clr--1a1a1a80{color: #1a1a1a80 !important;}
  
.font-10 {font-size: 0.625rem;}
.font-12 {font-size: 0.75rem;}
.font-13 {font-size: 0.81rem;}
.font-14 {font-size: 0.875rem;}
.font-15 {font-size: 0.937rem;}
.font-16 {font-size: 1rem;}
.font-18 {font-size: 1.125rem;}
.font-20 {font-size: 1.25rem;}
.font-22 {font-size: 1.375rem;}
.font-24 {font-size: 1.5rem;}
.font-26 {font-size: 1.625rem;}
.font-32 {font-size: 2rem;}


 @media (max-width: 767px) {
  body {
    .font-10 {font-size: 0.6rem;}
    .font-12 {font-size: 0.625rem;}
    .font-14 {font-size: 0.75rem;}
    .font-15 {font-size: 0.81rem;}
    .font-16{font-size: 0.875rem !important;}
    .font-18 {font-size: 1rem;}
    .font-20 {font-size: 1.125rem;}
    .font-22 {font-size: 1.25rem;}
    .font-24 {font-size: 18px !important;}
  }
 }
@media only screen and (min-width: 600px) and (max-width: 979px){}
@media only screen and (min-width: 980px) and (max-width: 1279px){}
@media only screen and (min-width: 1280px) and (max-width: 1440px){}
@media only screen and (min-width: 1279px) and (max-width: 1550px){
  body{ 
  .font-14 { font-size: 0.8125rem; } // 13px
  .font-15 { font-size: 0.875rem; }  // 14px
  .font-16 { font-size: 0.9375rem; } // 15px
  .font-18 { font-size: 1.0625rem; } // 17px
  .font-20 { font-size: 1.125rem; }  // 18px
  .font-22 { font-size: 1.25rem; }   // 20px
  .font-24 { font-size: 1.375rem; }  // 22px
  .font-26 { font-size: 1.5rem; }    // 24px
  .font-32 { font-size: 1.875rem; }  // 30px
  }
}